{% extends 'calbase.html' %}
{% block title %} Flippable Version {% endblock %}
{% load static %}
{% block extraCSS %}
<link rel="stylesheet" href="{% static 'homepage/css/flipcard.css' %}">
{% endblock%}
{% block content %}
<div class="calendar">
    <div class="timeline">
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div>7 AM</div>
        <div></div>
        <div>7:30 AM</div>
        <div></div>
        <div>8 AM</div>
        <div></div>
        <div>8:30 AM</div>
        <div></div>
        <div>9 AM</div>
        <div></div>
        <div>9:30 AM</div>
        <div></div>
        <div>10 AM</div>
        <div></div>
        <div>10:30 AM</div>
        <div></div>
        <div>11 AM</div>
        <div></div>
        <div>11:30 AM</div>
        <div></div>
        <div>12 PM</div>
        <div></div>
        <div>12:30 PM</div>
        <div></div>
        <div>1 PM</div>
        <div></div>
        <div>1:30 PM</div>
        <div></div>
        <div>2 PM</div>
        <div></div>
        <div>2:30 PM</div>
        <div></div>
        <div>3 PM</div>
        <div></div>
        <div>3:30 PM</div>
        <div></div>
        <div>4 PM</div>
        <div></div>
        <div>4:30 PM</div>
        <div></div>
        <div>5 PM</div>
        <div></div>
        <div>5:30 PM</div>
        <div></div>
        <div>6 PM</div>
        <div></div>
        <div>6:30 PM</div>
        <div></div>
        <div>7 PM</div>
        <div></div>
        <div>7:30 PM</div>
        <div></div>
        <div>8 PM</div>
        <div></div>
        <div>8:30 PM</div>
        <div></div>
        <div>9 PM</div>
        <div></div>
        <div>9:30 PM</div>
        <div></div>
        <div>10 PM</div>
    </div>
    <div class="days">
        <div class="day Mo">
            <div class="date"><p class="date-day">Mon</p></div>
            <div class="events">
                <div class="image-flip start-200pm end-245pm">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="event securities"><p class="title">HIEU 2031</p>
                                <p class="title">Ancient Greece</p>
                                <p class="title">2:00pm - 2:50pm</p></div>
                        </div>
                        <div class="backside">
                            <div class="card"><a class="delete btn" role="button" href="delete_event/95">
                                <button class="delete">remove class</button>
                            </a>
                                <p style="margin: 0.5;font-family:verdana">HIEU 2031 (10541)</p>
                                <p style="margin: 0.5;font-family:verdana">Jon Lendon</p>
                                <p style="margin: 0.5;font-family:verdana">50/60 enrolled</p>
                                <p style="margin: 0.5;font-family:verdana">0/199 waitlisted</p>
                                <p style="margin: 0.5;font-family:verdana">Wilson Hall 301</p></div>
                        </div>
                    </div>
                </div>
                <div class="image-flip start-500pm end-615pm">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="event securities"><p class="title">CS 1010</p>
                                <p class="title">Introduction to Information Technology</p>
                                <p class="title">5:00pm - 6:15pm</p></div>
                        </div>
                        <div class="backside">
                            <div class="card"><a class="delete btn" role="button" href="delete_event/103">
                                <button class="delete">remove class</button>
                            </a>
                                <p style="margin: 0.5;font-family:verdana">CS 1010 (16351)</p>
                                <p style="margin: 0.5;font-family:verdana">Derrick Stone</p>
                                <p style="margin: 0.5;font-family:verdana">72/75 enrolled</p>
                                <p style="margin: 0.5;font-family:verdana">0/199 waitlisted</p>
                                <p style="margin: 0.5;font-family:verdana">Olsson Hall 009</p></div>
                        </div>
                    </div>
                </div>
                <div class="image-flip start-1200pm end-1245pm">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="event securities"><p class="title">ITAL 2010</p>
                                <p class="title">Intermediate Italian I</p>
                                <p class="title">12:00pm - 12:50pm</p></div>
                        </div>
                        <div class="backside">
                            <div class="card"><a class="delete btn" role="button" href="delete_event/110">
                                <button class="delete">remove class</button>
                            </a>
                                <p style="margin: 0.5;font-family:verdana">ITAL 2010 (10553)</p>
                                <p style="margin: 0.5;font-family:verdana">Sarah Annunziato</p>
                                <p style="margin: 0.5;font-family:verdana">7/18 enrolled</p>
                                <p style="margin: 0.5;font-family:verdana">0/199 waitlisted</p>
                                <p style="margin: 0.5;font-family:verdana">New Cabell Hall 364</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="day Tu">
            <div class="date"><p class="date-day">Tues</p></div>
            <div class="events"></div>
        </div>
        <div class="day We">
            <div class="date"><p class="date-day">Wed</p></div>
            <div class="events">
                <div class="image-flip start-200pm end-245pm">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="event securities"><p class="title">HIEU 2031</p>
                                <p class="title">Ancient Greece</p>
                                <p class="title">2:00pm - 2:50pm</p></div>
                        </div>
                        <div class="backside">
                            <div class="card"><a class="delete btn" role="button" href="delete_event/96">
                                <button class="delete">remove class</button>
                            </a>
                                <p style="margin: 0.5;font-family:verdana" HIEU 2031 (10541)</p><p
                                        style="margin: 0.5;font-family:verdana">Jon Lendon</p>
                                <p style="margin: 0.5;font-family:verdana">50/60 enrolled</p>
                                <p style="margin: 0.5;font-family:verdana">0/199 waitlisted</p>
                                <p style="margin: 0.5;font-family:verdana">Wilson Hall 301</p></div>
                        </div>
                    </div>
                </div>
                <div class="image-flip start-500pm end-615pm">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="event securities"><p class="title">CS 1010</p>
                                <p class="title">Introduction to Information Technology</p>
                                <p class="title">5:00pm - 6:15pm</p></div>
                        </div>
                        <div class="backside">
                            <div class="card"><a class="delete btn" role="button" href="delete_event/104">
                                <button class="delete">remove class</button>
                            </a>
                                <p style="margin: 0.5;font-family:verdana" CS 1010 (16351)</p><p
                                        style="margin: 0.5;font-family:verdana">Derrick Stone</p>
                                <p style="margin: 0.5;font-family:verdana">72/75 enrolled</p>
                                <p style="margin: 0.5;font-family:verdana">0/199 waitlisted</p>
                                <p style="margin: 0.5;font-family:verdana">Olsson Hall 009</p></div>
                        </div>
                    </div>
                </div>
                <div class="image-flip start-400pm end-445pm">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="event securities"><p class="title">ENGR 1501</p>
                                <p class="title">Special Topics</p>
                                <p class="title">4:00pm - 4:50pm</p></div>
                        </div>
                        <div class="backside">
                            <div class="card"><a class="delete btn" role="button" href="delete_event/109">
                                <button class="delete">remove class</button>
                            </a>
                                <p style="margin: 0.5;font-family:verdana" ENGR 1501 (20257)</p><p
                                        style="margin: 0.5;font-family:verdana">Brian Helmke</p>
                                <p style="margin: 0.5;font-family:verdana">31/48 enrolled</p>
                                <p style="margin: 0.5;font-family:verdana">0/0 waitlisted</p>
                                <p style="margin: 0.5;font-family:verdana">Olsson Hall 001</p></div>
                        </div>
                    </div>
                </div>
                <div class="image-flip start-1200pm end-1245pm">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="event securities"><p class="title">ITAL 2010</p>
                                <p class="title">Intermediate Italian I</p>
                                <p class="title">12:00pm - 12:50pm</p></div>
                        </div>
                        <div class="backside">
                            <div class="card"><a class="delete btn" role="button" href="delete_event/111">
                                <button class="delete">remove class</button>
                            </a>
                                <p style="margin: 0.5;font-family:verdana" ITAL 2010 (10553)</p><p
                                        style="margin: 0.5;font-family:verdana">Sarah Annunziato</p>
                                <p style="margin: 0.5;font-family:verdana">7/18 enrolled</p>
                                <p style="margin: 0.5;font-family:verdana">0/199 waitlisted</p>
                                <p style="margin: 0.5;font-family:verdana">New Cabell Hall 364</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="day Th">
            <div class="date"><p class="date-day">Thurs</p></div>
            <div class="events"></div>
        </div>
        <div class="day Fr">
            <div class="date"><p class="date-day">Fri</p></div>
            <div class="events">
                <div class="image-flip start-1200pm end-1245pm">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="event securities"><p class="title">ITAL 2010</p>
                                <p class="title">Intermediate Italian I</p>
                                <p class="title">12:00pm - 12:50pm</p></div>
                        </div>
                        <div class="backside">
                            <div class="card"><a class="delete btn" role="button" href="delete_event/112">
                                <button class="delete">remove class</button>
                            </a>
                                <p style="margin: 0.5;font-family:verdana">ITAL 2010 (10553)</p>
                                <p style="margin: 0.5;font-family:verdana">Sarah Annunziato</p>
                                <p style="margin: 0.5;font-family:verdana">7/18 enrolled</p>
                                <p style="margin: 0.5;font-family:verdana">0/199 waitlisted</p>
                                <p style="margin: 0.5;font-family:verdana">New Cabell Hall 364</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}