{% extends 'base.html' %}
{% load homepage_filters %}
{% block content %}
{% load static %}
<!-- CSS styling source -->
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">

<div class="header">
    <div class="row">
        <div class="col">
            <a href="https://www.virginia.edu/" target="_blank">
                <img src="{% static 'homepage/UVA-Logo.png' %}" alt="uva-logo" width="175" height="100">
            </a>
        </div>
        <div class="col-md-auto" style="text-align: center">
            <h1>Hoos' List: </h1>
            <h1>UVA Class Schedules</h1>
        </div>
        <div class="col" style="text-align: right">
            <a href="https://sisuva.admin.virginia.edu/ihprd/signon.html" target="_blank">
                <img src="{% static 'homepage/school.png' %}" alt="fox" width="110" height="110">
            </a>
        </div>
    </div>
</div>
<br>
<div class="row">
    <form class="form-inline my-2 my-lg-0" method=POST
          action="{% url 'homepage:search' %}">
        {% csrf_token %}
            <input class="form-control mr-sm-2" type="search"
                   placeholder="Search Department" name="subject">
            <input class="form-control mr-sm-2" type="search"
                   placeholder="Search Number" name="number">
            <input class="form-control mr-sm-2" type="search"
                   placeholder="Class Title" name="name">
            <!--
            <input class="form-control mr-sm-2" type="search"
                   placeholder="Instructor Last Name" name="instructor">
            -->
            <button class="btn btn-outline-secondary my-2 my-sm-0"
                    type="submit">Search
            </button>
    </form>

</div>


<br>
<div class="me-auto" style="max-width: 1200px;">
    <table class="table table-bordered table-sm">
        <caption class="caption-top" style="font-family: 'fire'">All Department Mnemonics</caption>
        {%for row in response%}
        <tr>
            {% for cell in row %}
            <td class="tcell" style="background-color:#FFB6C1">
                <p class="font-weight-bold">
                    <a class="text-dark" href="/department/{{full_name_abbreviation_dict|get_item:cell}}">{{cell}}</a>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}