{% extends 'base.html' %}
{% load homepage_filters %}
{% block content %}

{% if dept_name and number%}
<h1> Search results... </h1>
<div>
        <table class="table table-bordered table-hover">
            <tr>
            <th class="col-sm-1" colspan='1' style="background: lightblue">{{dept_name}} {{number}}</th>
            <th class="CourseName" colspan="11" style="background: CadetBlue">{{course_name}}</th>
            </tr>
            {% for y in list_of_classes %}
            <tr class="table-success">
                <td>{{y.class_section}}-{{y.component}} {{y.class_nbr}}</td>
                <td class="col-sm-1">{{y.enrollment_total}}/{{y.class_capacity}} enrolled</td>
                <td class="col-sm-1">{{y.wait_tot}}/{{y.wait_cap}} waitlisted</td>
                <td class="col-sm-2">
                    {% if i.instructor != '-' %}
                    <a href = mailto:{{y.email}}>{{y.instructor}}</a>
                    {% endif %}
                </td>
                {%for meeting in y.meetings %}
                <td class="col-sm-2"> {{meeting.days}} {{meeting.time}}</td>
                <td class="col-sm-2">{{meeting.facility_descr}}</td>
                {%endfor%}

                {% if user.is_authenticated %}
                <td class="col-sm-2">
                <form method=POST action="{% url 'homepage:addtolist' %}">
                    {% csrf_token %}
                    <input value ="{{course_name}}" name = "course_title_add" type = "hidden">
                    <input value = {{y.component}} name = "course_type_add" type = "hidden">
                    <input value = "{{y.meeting_time}}" name = "course_time_add" type = "hidden">
                    <input value = "{{y.instructor}}" name = "course_instructor_add" type = "hidden">
                    <input value = "{{y.enrollment_total}}/{{y.class_capacity}}" name = "course_enrolled_add" type = "hidden">
                    <input value = "{{y.wait_tot}}/{{y.wait_cap}}" name = "course_waitlisted_add" type = "hidden">

                    <input value ="{{dept_name}} {{number}}" name = "course_name_add" type = "hidden">
                    <input value = "{{y.meeting_day}}" name = "course_days_add" type = "hidden">
                    <input value = {{y.class_section}} name = "course_section_add" type = "hidden">
                    <input value = "{{y.location}}" name = "location" type = "hidden">
                    <input value={{y.class_nbr}} name="courseAddedToList" type="hidden">
                    <input value = {{y.more_than_one_meeting}} name = "more_than_one_meeting" type="hidden">
                    <input value = "{{y.meeting_day_and_time}}" name="meeting_day_and_time" type="hidden">
                    <input value="{{y.start_time_struct}}" name= "start_time_struct_for_1_meeting" type="hidden">
                    <input value="{{y.end_time_struct}}" name= "end_time_struct_for_1_meeting" type="hidden">
                    <input value="{{y.start_time_structs}}" name= "start_time_struct_for_more_1_meeting" type="hidden">
                    <input value="{{y.end_time_structs}}" name= "end_time_struct_for_more_1_meeting" type="hidden">
                    <input value="{{y.locations}}" name= "locations"  type="hidden">
                    <input value="{{y.units}}" name= "credit" type="hidden">
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Add To Course List</button>
                </form>
                </td>
                {% endif %}

            </tr>
            {% endfor %}
        </table>

</div>
{% else %}
    <h1> No search </h1>
    <div class = "spacefill"></div>
    <div class = "spacefill"></div>
{% endif %}

<div class="spacefill"></div>

{% endblock %}
